.imagePicker {
    width: 122px;
    height: 86px;
    /*border: 1px solid white;*/
    border-radius: 8px;
    background: var(--background-color-secondary);
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}