.imagePicker {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 8px;
    background: rgba(118, 118, 128, 0.24);
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}