:root {
    --background-color: black;
    --background-color-secondary: #1c1c1e;
    --text-color: white;
    --text-color-secondary: rgba(235, 235, 245, 0.6);
}
body {
    margin: 0;
     background: #E5E5E5;;
    color: var(--text-color);
}
.main_wrapper {
    position: relative;
    width: 1440px;
    height: 820px;

    background: #1F2223;
    border-radius: 30px;
}

.container {
    position: absolute;
    width: 1354px;
    height: 730px;
    left: 43px;
    top: 43px;


    background: var(--background-color);
    border-radius: 28px;
}
.wrapper {
    width: 343px;
    margin-left: 50px;
}
.paletteWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
}
a {
    color: white;
    font-family: Gotham Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */

    text-align: center;
    letter-spacing: -0.408px;
    text-decoration-line: underline;

}
.input-field {
    display: flex;
    width: 343px !important;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 10px;
}

input {
    color: var(--text-color-secondary) !important;
    height: 36px;
    width: 98%;
    padding: 6px 0 4px 10px;
    border: 1px solid var(--background-color);
    background: var(--background-color-secondary);
    border-radius: 8px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px var(--background-color-secondary)  inset !important;
    background: var(--background-color-secondary);
    -webkit-text-fill-color: var(--text-color-secondary);
}
.hide {
    display: none;
}

label {
    color: var(--text-color-secondary);
    font-family: Gotham Pro, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    padding-left: 10px;

}
.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.addColorBtn {
    position:absolute;
    top: 63.05%;
    bottom: 30.85%;
}